.loader {
    position: relative;
    width: 75px;
    height: 100px;
  }

  .loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: linear-gradient(to right, #008F39, #008799) !important;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }

  .loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    animation: barUp1 4s infinite;
  }

  .loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    animation: barUp2 4s infinite;
  }

  .loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    animation: barUp3 4s infinite;
  }

  .loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    animation: barUp4 4s infinite;
  }

  .loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    animation: barUp5 4s infinite;
  }

  .loader__ball {
    position: absolute;
    /* bottom: 10px; */
    left: 0;
    width: 10px;
    height: 10px;
    background: linear-gradient(to right, #008F39, #008799) !important;
    border-radius: 50%;
    animation: ball624 4s infinite;
  }

  @keyframes ball624 {
    0% { transform: translate(0, 0); }
    5% { transform: translate(8px, -14px); }
    10% { transform: translate(15px, -10px); }
    17% { transform: translate(23px, -24px); }
    20% { transform: translate(30px, -20px); }
    27% { transform: translate(38px, -34px); }
    30% { transform: translate(45px, -30px); }
    37% { transform: translate(53px, -44px); }
    40% { transform: translate(60px, -40px); }
    50% { transform: translate(60px, 0); }
    57% { transform: translate(53px, -14px); }
    60% { transform: translate(45px, -10px); }
    67% { transform: translate(37px, -24px); }
    70% { transform: translate(30px, -20px); }
    77% { transform: translate(22px, -34px); }
    80% { transform: translate(15px, -30px); }
    87% { transform: translate(7px, -44px); }
    90% { transform: translate(0, -40px); }
    100% { transform: translate(0, 0); }
  }

  @keyframes barUp1 {
    0%, 40%, 100% { transform: scale(1, 0.2); }
    50%, 90% { transform: scale(1, 1); }
  }

  @keyframes barUp2 {
    0%, 40%, 100% { transform: scale(1, 0.4); }
    50%, 90% { transform: scale(1, 0.8); }
  }

  @keyframes barUp3 {
    0%, 100% { transform: scale(1, 0.6); }
  }

  @keyframes barUp4 {
    0%, 40%, 100% { transform: scale(1, 0.8); }
    50%, 90% { transform: scale(1, 0.4); }
  }

  @keyframes barUp5 {
    0%, 40%, 100% { transform: scale(1, 1); }
    50%, 90% { transform: scale(1, 0.2); }
  }
  .sx-react-calendar-wrapper {
    width: 100%;
    max-width: 100vw;
    height: 800px;
    max-height: 90vh;
  }

  @media screen and (min-width: 1024px) {
    .dashboard_card {
      flex-direction: column !important;
      width: 100%;
    }
  }