@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
  height: 100%;
  overflow-y: auto;
  font-family: "Inter" !important;
  /* overflow-x: hidden; */

}

@media screen and (max-width:820px){
  html,body{
    overflow-x: hidden !important ;
  }
}


@media screen and (max-width: 1180px) {
  body {
    overflow-x: hidden !important;
  }
}

  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body::-webkit-scrollbar{
  display: none;
} */